body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.preview-image {
  width: 200px;
}

.pizza-image {
  width: 150px;
}

.cur-point {
  cursor: pointer;
}

.order-tab {
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.checkout_button {
  width: 250px;
  height: 50px;
}
